<style type="text/css">
.resourceIcons {
	width: 50px;
	height: 50px;
}

.tomatoesRating {
	size: 14px;
	text-align: center;
	font: bold;
}

.headerAdditionalData {
	text-align: center;
	font: bold;
	font-size: 14px;
}

.listsData {
	text-align: center;
}
</style>

<div th:fragment="authMovieDetailsFragment" class="container" style="color: white">
	<div class="container" th:if="${msg} != null">
		<div class="alert alert-success" style="margin: 10px;" th:text="${msg}"></div>
	</div>
	<div class="row">
		<div class="col-md-3">
			<img class="img img-responsive" th:src="${movie.getPosterURL()}" />
			<div class="row">
				<p style="text-align: center; margin-top: 10px;" th:if="${movie.getReleaseDate()} != null" >Release Date: <font th:text="${movie.getReleaseDate()}"></font></p>
			</div>
			<div class="row" style="text-align: center;">
				<form action="#" th:action="@{/auth/addMovie}" method="POST" enctype="multipart/form-data">
					<input hidden="hidden" name="movieName" th:if="${movie.getTitle()} != null" th:value="${movie.getTitle()}" />
					<input hidden="hidden" name="imdbId" th:if="${movie.getImdbId()} != null" th:value="${movie.getImdbId()}" />
					<input type="submit" class="btn btn-primary" value="Add movie" />
				</form>
			</div>
		</div>
		<div class="col-md-7">
			<div>
				<h2 th:if="${movie.getTitle()} != null" th:text="${movie.getTitle()}"></h2>
			</div>
			<h3>Genres:</h3>
			<div class="row">
				<div class="col-md-2" th:if="${movie.getGenres()} != null" th:each="m : ${movie.getGenres()}">
					<p th:text="${m.getName()}"></p>
				</div>
			</div>
			<h3>Ratings:</h3>
			<div class="row">
				<div class="col-md-3">
					<p>TMDB Average Rating:</p>
				</div>
				<div class="col-md-2">
					<span th:if="${movie.getVoteAverageTMDB()} != null" th:text="${movie.getVoteAverageTMDB()}"></span><span th:if="${movie.getVoteAverageTMDB()} == null">N/A </span>/10
				</div>
				<div class="col-md-3">
					<p>TMDB Reviews Counted:</p>
				</div>
				<div class="col-md-2" >
					<span th:if="${movie.getVoteCountTMDB()} != null" th:text="${movie.getVoteCountTMDB()}"></span>
				</div>
				<div class="col-md-2">
					<img class="img img-responsive resourceIcons" src="http://localhost:8080/images/tmdb.png" />
				</div>
			</div>
			<div class="row">
				<div class="col-md-3">
					<p>IMDB Average Rating:</p>
				</div>
				<div class="col-md-2">
					<span th:if="${movie.getImdbRating()} != null" th:text="${movie.getImdbRating()}"></span><span th:if="${movie.getImdbRating()} == null">N/A </span>/10
				</div>
				<div class="col-md-3">
					<p>IMDB Reviews Counted:</p>
				</div>
				<div class="col-md-2">
					<span th:if="${movie.getImdbVotes()} != null" th:text="${movie.getImdbVotes()}"></span>
				</div>
				<div class="col-md-2">
					<img class="img img-responsive resourceIcons" src="http://localhost:8080/images/imdb.png" />
				</div>
			</div>
			<hr />
			<div class="row">
				<div class="col-md-6 row">
					<div class="row">
						<div class="col-md-3">Tomato meter:</div>
						<div class="col-md-3"><img class="img pull-right" th:if="${movie.getTomatoMeter()} != null" th:src="${tomatoMeterImage}" /></div>
						<div class="col-md-6"><font class="pull-left" size="18px" th:if="${movie.getTomatoMeter()} != null" th:text="${movie.getTomatoMeter()}"></font><font th:if="${movie.getTomatoMeter()} != null" size="18px">%</font></div>
					</div>
					<div class="row">
						<div class="col-md-3">
							<p>Average Rating:</p>
						</div>
						<div class="col-md-2">
							<span th:if="${movie.getTomatoRating()} != null" th:text="${movie.getTomatoRating()}"></span><span th:if="${movie.getTomatoRating()} == null">N/A </span>/10
						</div>
						<div class="col-md-3">
							<span>Reviews Counted:</span>
						</div>
						<div class="col-md-2">
							<p th:if="${movie.getTomatoReviews()} != null" th:text="${movie.getTomatoReviews()}"></p>
						</div>
						<div class="col-md-2">
							&nbsp;
						</div>
					</div>
					<div class="row">
						<div class="col-md-3">
							<p>Fresh:</p>
						</div>
						<div class="col-md-2">
							<p th:if="${movie.getTomatoFresh()} != null" th:text="${movie.getTomatoFresh()}"></p>
						</div>
						<div class="col-md-3">
							<p>Rotten:</p>
						</div>
						<div class="col-md-2">
							<p th:if="${movie.getTomatoRotten()} != null" th:text="${movie.getTomatoRotten()}"></p>
						</div>
						<div class="col-md-2">
							&nbsp;
						</div>
					</div>
				</div>
				<div class="col-md-6 row">
					<div class="row">
						<div class="col-md-3">Audience score:</div>
						<div class="col-md-3"><img class="img pull-right" th:src="${tomatoUserImage}" /></div>
						<div class="col-md-6"><font th:if="${movie.getTomatoUserMeter()} != null" class="pull-left" size="18px" th:text="${movie.getTomatoUserMeter()}"></font><font th:if="${movie.getTomatoUserMeter()} != null" size="18px">%</font></div>
					</div>
					<div class="row">
						<div class="col-md-3">
							<p>Average Rating:</p>
						</div>
						<div class="col-md-2">
							<span th:if="${movie.getTomatoUserRating()} != null" th:text="${movie.getTomatoUserRating()}"></span><span th:if="${movie.getTomatoUserRating()} == null">N/A </span>/5
						</div>
						<div class="col-md-3">
							<p>User Ratings:</p>
						</div>
						<div class="col-md-2">
							<p th:if="${movie.getTomatoUserReviews()} != null" th:text="${movie.getTomatoUserReviews()}"></p>
						</div>
						<div class="col-md-2">
							&nbsp;
						</div>
					</div>
				</div>
			</div>
			
		</div>
	</div>
	
	<div class="row">
		<h3>Description:</h3>
		<p th:if="${movie.getDescription()} != null" th:text="${movie.getDescription()}"></p>
	</div>
	
	<div class="row">
		<div class="col-md-6 col-sm-6" th:if="${movie.getYouTubeURLTrailers() != null}">
			<h3>Movie Trailers</h3>
			<div style="margin: 10px;" class="embed-responsive embed-responsive-16by9" th:if="${movie.getYouTubeURLTrailers() != null}" th:each="link : ${movie.getYouTubeURLTrailers()}">
				<iframe class="embed-responsive-item" th:src="${link}"></iframe>
			</div>
		</div>
		<div class="col-md-6 col-sm-6" th:if="${movie.getYouTubeURLMovie() != null}">
			<h3>Movie</h3>
			<div class="embed-responsive embed-responsive-16by9">
   				<iframe class="embed-responsive-item" th:if="${movie.getYouTubeURLMovie() != null}" th:src="${movie.getYouTubeURLMovie()}"></iframe>
   			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="row col-md-4 col-sm-4">
			<div class="row">
				<div class="row">
					<h3 class="headerAdditionalData">Director:</h3>
				</div>
				<div class="row" th:if="${movie.getDirector()} != null" th:each="director : ${movie.getDirector()}">
					<p class="listsData" th:text="${director}"></p>
				</div>
			</div>
			<div class="row">
				<div class="row ">
					<h3 class="headerAdditionalData">Writer:</h3>
				</div>
				<div class="row" th:if="${movie.getWriter()} != null" th:each="writer : ${movie.getWriter()}">
					<p class="listsData" th:text="${writer}"></p>
				</div>
			</div>
		</div>
		<div class="row col-md-4">
			<div class="row">
				<h3 class="headerAdditionalData">Actors:</h3>
			</div>
			<div class="row" th:if="${movie.getActors()} != null" th:each="actor: ${movie.getActors()}">
				<p class="listsData" th:text="${actor}"></p>
			</div>
		</div>
		<div class="row col-md-4">
			<div class="row">
				<h3 class="headerAdditionalData">Awards:</h3>
			</div>
			<div class="row" th:if="${movie.getAwards()} != null" th:each="award : ${movie.getAwards()}">
				<p class="listsData" th:text="${award}"></p>
			</div>
		</div>
	</div>
</div>