<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1" />
<title>Find a Movie - Login</title>

<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<script	src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script	src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
	<body style="background-color: #191919; color: white">
		<div th:include="fragments/headerFragment"></div>
		<div th:fragment="authWatchedMoviesFragment" class="container" style="color: white" th:object="${movies}">
			<div class="container">
				<div class="container" th:if="${msg} != null">
					<div class="alert alert-success" style="margin: 10px;" th:text="${msg}"></div>
				</div>
				<ul class="list-group" th:each="movie : ${movies}">
					<li class="list-group-item" th:text="${movie}" style="background-color: #191919;"></li>
				</ul>
			</div>
		</div>
	</body>
</html>