<div th:fragment="headerFragment">
	<nav class="navbar navbar-inverse" role="navigation">
	
	  <!-- Brand and toggle get grouped for better mobile display -->
	  <div class="navbar-header">
	    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	      <span class="sr-only">Toggle navigation</span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	    </button>
	    <a class="navbar-brand" th:href="@{/}">Find a Movie</a>
	  </div>
	
	  <!-- Collect the nav links, forms, and other content for toggling -->
	  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	    <div class="col-sm-3 col-md-3">
	        <form class="navbar-form" role="search" action="#" th:action="@{/nonauth/search}" method="POST" enctype="multipart/form-data">
	        <div class="input-group">
	            <input type="text" class="form-control" placeholder="Search Movie Title" name="title" />
	            <div class="input-group-btn">
	                <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
	            </div>
	        </div>
	        </form>
	    </div>
	    <div class="col-sm-3 col-md-3" th:if="${username} == null" th:include="fragments/searchFragment" id="theNonAuthOne"></div>
	    <div class="col-sm-3 col-md-3" th:if="${username} != null" th:include="fragments/auth/authSearchFragment" id="theAuthOne"></div>
	    <ul class="nav navbar-nav navbar-right" style="margin-right: 10px; margin-left: 10px;">
	      <li class="dropdown">
	        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><label th:if="${username} != null" th:text="${username}"></label><label th:if="${username} == null">User</label><b class="caret"></b></a>
	        <ul class="dropdown-menu">
	          <li th:if="${username} == null"><a th:href="@{/login}">Login</a></li>
	          <li th:if="${username} == null"><a th:href="@{/register}">Register</a></li>
	          <li th:if="${username} != null"><a th:href="@{/auth/logout}">Logout</a></li>
	        </ul>
	      </li>
	      <li th:if="${username} != null"><a th:href="@{/auth/watched}">Watched-movies</a></li>
	      <li th:if="${username} != null"><a th:href="@{/auth/preferences}">Preferences</a></li>
	    </ul>
	  </div><!-- /.navbar-collapse -->
	</nav>
</div>