<div th:fragment="listMovies" style="bacground-color: #191919;">
	<div th:object="${movies}">
			<div th:each="movie : ${movies}">
				<form style="margin-bottom: 10px; padding-left: 10px; padding-right: 10px; padding-bottom: 20px;" class="col-xs-12 col-sm-6 col-md-4 col-xl-4" th:if="${movie.getDescription() != ''}" action="#" th:action="@{/nonauth/movie}" method="POST" enctype="multipart/form-data">
					<div class="row thumbnail" style="background-color: #191919; border: 0">
						<img class="image img-responsive col-xs-12 col-sm-6 col-md-6 col-xl-6" style="height: 240px; max-width: 240px;" alt="" th:src="${movie.getPosterURL()}" />
						<div class="caption col-xs-12 col-sm-6 col-md-6 col-xl-6" style="max-height: 231px; overflow: hidden; text-overflow: ellipsis; color: white;">
							<h4 style="text-align: center;" th:text="${movie.getTitle()}"></h4>
							<p style="overflow: hidden; text-overflow: ellipsis;" th:text="${movie.getDescription()}"></p>
							<input type="text" name="id" hidden="hidden" th:value="${movie.getTheMovieDbId()}" />
						</div>
					</div>
					<div class="row" style="text-align: center;">
						<input style="width: 350px; text-align: center;" class="btn btn-primary" type="submit" value="Details" />
					</div>
				</form>
			</div>
	</div>
</div>