<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1" />
<title>Find a Movie</title>

<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<script	src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script	src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript">
	function range() {
		var number = document.getElementById("ratingValue").value;
		document.getElementById("ratingNumber").innerHTML = number;
	}
</script>

<style type="text/css">
.list-group-item-primary {
    color: rgb(255, 255, 255);
    background-color: rgb(66, 139, 202);
}

span {
	padding-left: 10px;
}

h2 h3 {
	color: white;
}
</style>
</head>
<body onload="parseLoadData()" style="background-color: #191919; color: white">
	<div th:include="fragments/headerFragment"></div>
	<div th:fragment="preferencesFragment">
		<div class="container" th:if="${msg} != null">
			<div class="alert alert-success" style="margin: 10px;" th:text="${msg}"></div>
		</div>
		<div class="row" style="margin: 15px;">
			<h2 style="text-align: center;">Preferences:</h2>
			<form class="row" action="#" th:action="@{/auth/preferences/save}" method="POST" enctype="multipart/form-data" style="color: black; margin: 30px;">
				<div class="row col-md-8">
					<h3 style="text-align: center; color: white">Genres:</h3>
					<div class="col-md-6">
						<div class="well" style="background-color: #191919; border: none;">
							<ul class="list-group checked-list-box" style="text-align: left">
								<li class="list-group-item">
									<input type="checkbox" name="genres" value="28" /><span>Action</span>
								</li>
								<li class="list-group-item">
									<input type="checkbox" name="genres" value="12" /><span>Adventure</span>
								</li>
								<li class="list-group-item">
									<input type="checkbox" name="genres" value="16" /><span>Animation</span>
								</li>
								<li class="list-group-item">
									<input type="checkbox" name="genres" value="35" /><span>Comedy</span>
								</li>
								<li class="list-group-item">
									<input type="checkbox" name="genres" value="80" /><span>Crime</span>
								</li>
								<li class="list-group-item">
									<input type="checkbox" name="genres" value="99" /><span>Documentary</span>
								</li>
								<li class="list-group-item">
									<input type="checkbox" name="genres" value="18" /><span>Drama</span>
								</li>
								<li class="list-group-item">
									<input type="checkbox" name="genres" value="10751" /><span>Family</span>
								</li>
								<li class="list-group-item">
									<input type="checkbox" name="genres" value="14" /><span>Fantasy</span>
								</li>
								<li class="list-group-item">
									<input type="checkbox" name="genres" value="10769" /><span>Foreign</span>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-md-6">
						<div class="well" style="background-color: #191919; border: none;">
							<ul class="list-group checked-list-box" style="text-align: left">
								<li class="list-group-item">
									<input type="checkbox" name="genres" value="36" /><span>History</span>
								</li>
								<li class="list-group-item">
									<input type="checkbox" name="genres" value="27" /><span>Horror</span>
								</li>
								<li class="list-group-item">
									<input type="checkbox" name="genres" value="10402" /><span>Music</span>
								</li>
								<li class="list-group-item">
									<input type="checkbox" name="genres" value="9648" /><span>Mystery</span>
								</li>
								<li class="list-group-item">
									<input type="checkbox" name="genres" value="10749" /><span>Romance</span>
								</li>
								<li class="list-group-item">
									<input type="checkbox" name="genres" value="878" /><span>Science Fiction</span>
								</li>
								<li class="list-group-item">
									<input type="checkbox" name="genres" value="10770" /><span>TV Movie</span>
								</li>
								<li class="list-group-item">
									<input type="checkbox" name="genres" value="53" /><span>Thriller</span>
								</li>
								<li class="list-group-item">
									<input type="checkbox" name="genres" value="10752" /><span>War</span>
								</li>
								<li class="list-group-item">
									<input type="checkbox" name="genres" value="37" /><span>Western</span>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<h3 class="row" style="text-align: center; color: white">Rating:</h3>
					<div class="row" style="margin-top: 40px;">
						<input id="ratingValue" class="slider" onmousemove="range()" onchange="range()" name="rating" type="range" min="1" max="9" step="1" value="6"/>
						<h2 style="color: white; text-align: center;" id="ratingNumber">6</h2>
						<input type="submit" value="Save" class="btn btn-primary btn-block btn-lg" style="color: white; margin-top: 20px;"/>
					</div>
				</div>
			</form>
			<!--<input hidden="hidden" type="text" name="loadDataGenres" id="loadDataGenres" th:if="${savedGenre} != null" th:value="${savedGenre}" />
			<input hidden="hidden" type="text" name="loadDataRating" id="loadDataRating" th:if="${savedRating} != null" th:value="${savedRating}" />
			-->
		</div>
	</div>
	
<script th:inline="javascript">
/*<![CDATA[*/
function parseLoadData() {
	
	var loadDataGenres = /*[[${savedGenre}]]*/
	var rating = /*[[${savedRating}]]*/
	
	if(loadDataGenres != null) {
		var gen = loadDataGenres.split(",");
		var genres = document.getElementsByName("genres");
		for(var i=0; i<genres.length; i++) {
			for(var j=0; j<gen.length; j++) {
				if(genres[i].value == gen[j]) {
					genres[i].checked = true;
				}
			}
		}
	}
	
	if(rating != null) {
		document.getElementById("ratingValue").value = rating;
		document.getElementById("ratingNumber").innerHTML = rating;
		
	}
}
//*]]>*/
</script>

</body>
</html>