<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1" />
<title>Find a Movie - Register New User</title>

<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<script	src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script	src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body style="background-color: #191919; color: white">
	<div th:include="fragments/headerFragment"></div>
	<h1 class="row" style="text-align: center; margin: 20px;">Register User</h1>
	<div th:fragment="registerFragment" class="row" style="margin: 30px;">
		<div class="container" th:if="${msg != null and status == failed}">
			<div class="alert alert-success" style="margin: 10px;" th:text="${msg}"></div>
		</div>
		<div class="container" th:if="${msg != null and status != failed}">
			<div class="alert alert-danger" style="margin: 10px;" th:text="${msg}"></div>
		</div>
		
		<div class="col-md-4 col-sm-4 col-xs-1"></div>
		<form class="col-md-4 col-sm-4 col-xs-10" style="color: white;" action="#" th:action="@{/auth/register}" method="POST" enctype="multipart/form-data">
			<div class="form-group">
				<label for="username">Username:</label>
				<input type="text" id="username" class="form-control" name="username" />
			</div>
			<div class="form-group">
				<label for="password">Password:</label>
				<input type="password" id="password" class="form-control" name="password" />
			</div>
			<input type="submit" class="btn btn-primary" value="Register" />
		</form>
		<div class="col-md-4 col-sm-4 col-xs-1"></div>
	</div>
</body>
</html>