<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1" />
<title>Find a Movie</title>
</head>

<link rel="stylesheet"	href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<script	src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script	src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<body style="background-color: #191919;">
	
	<div th:include="fragments/headerFragment"></div>
	
	<div class="container" th:if="${msg != null and movie == null and username == null}">
		<div class="alert alert-danger" style="margin: 10px;" th:text="${msg}"></div>
	</div>

	<div th:include="fragments/movieDetailsFragment" th:if="${movie != null and username == null}"></div>

	<div th:include="fragments/auth/authMovieDetailsFragment" th:if="${movie != null and username != null}"></div>
	
	<div th:include="fragments/listMovies" class="container" th:if="${movies != null}"></div>
	
</body>
</html>